* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Unitblock';
    src: url(../fonts/Unitblock-mLAwm.ttf);
}

h1, h2, h3 {
    font-family: 'Unitblock';
    text-align: center;
    color: black;
}
h2 {
    font-size: 50px;
}

p {
    font-family: 'Unitblock';
    text-align: center;
    color: black;
}

body {
    font-size: 25px;
    background-color: rgb(147, 208, 228);
}

.logo {
    box-sizing: content-box;
    display: block;
    margin: 0 auto;
    width: 650px;
    padding-bottom: 7rem;
}

.logo-link {
    width: 50px;
    margin-right: 25px;
}

.secondary-logo {
    width: 250px;
    margin: 0 40%;
}

.nav-item-margin {
    margin-top: .4rem;
}

.btn-outline-success {
    background-color: #1e5c80;
    color: white;
    border-color: #FFA63D;
}

.btn-outline-success:hover {
    background-color: #2b8ac2;
    color: black;
}

.bys-title {
    width: 900px;
    height: 500px;
    background-color: #122d14;
}

.orange-background {
    background-color: #FFA63D;
    width: 900px;
    height: 500px;
    text-align: center;
}

.h2-margin {
    margin: 25% auto;
}

.carousel {
    width: 900px;
    margin: 0  auto;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-indicators, 
.carousel-caption {
    background-color: rgba(0,0,0,0.2);
}

.about {
    padding-top: 7rem;
    margin: 0 25%;
}

.contact-header {
    margin-top: 2rem;
}

.contact-form {
    padding: 25px;
    font-size: 1rem;
    border: 5px solid #FFA63D;
}

.back-to-top {
    text-align: center;
}

.back-to-top-link {
    color: white;
    border: 2px solid #FFA63D;
    border-radius: 15px;
    padding: 0 .5rem .1rem .5rem;
    background-color: #1e5c80;
}

.game-section1 {
    width: 900px;
    margin: 0 10%;
}

.game-section2 {
    width: 900px;
    margin: 0 15%;
}

.desc-container {
    box-sizing: border-box;
    margin: 0 25%;
}